<div class="page-wrapper bg-gra-01 p-t-180 p-b-100 font-poppins">
  <div class="wrapper wrapper--w780">
      <div class="card card-3">
        <div class="card-heading"></div>
          <div class="card-body">
            <h2 class="title">Registration Here!</h2>
              <form [formGroup]="regForm">
                  <div class="input-group">
                      <input class="input--style-3 form-control" type="text" placeholder="Username" formControlName="uname" name="name">
                  </div>
                  <div class="input-group">
                      <input class="input--style-3 form-control" type="text" placeholder="Name Lengkap" formControlName="nama_lengkap" name="name">
                  </div>
                  <div class="input-group">
                      <input class="input--style-3 form-control" type="text" placeholder="Birthdate" formControlName="tanggal_lahir" name="birthday">
                  </div>
                  <div class="input-group">
                      <input class="input--style-3 form-control" type="text" placeholder="Alamat" formControlName="alamat" name="birthday">
                  </div>
                  <div class="input-group">
                      <input class="input--style-3 form-control" type="text" placeholder="Foto" formControlName="foto">
                  </div>
                  <div class="input-group">
                      <input class="input--style-3 form-control" type="email" placeholder="Email" formControlName="email" name="email">
                  </div>
                  <div class="input-group">
                      <input class="input--style-3 form-control" type="text" placeholder="Phone" formControlName="telepon" name="phone">
                  </div>
                  <div class="input-group">
                      <input class="input--style-3 form-control" type="password" placeholder="Password" formControlName="password" name="phone">
                  </div>
                  <div class="p-t-10">
                      <button class="btn btn--pill btn--green" (click)="newUserRegis()">Submit</button>
                  </div>
              </form>
          </div>
      </div>
  </div>
</div>
<!-- <div class="container">
  <form [formGroup]="regForm" novalidate>

    <div class="form-group">
      <label>Username</label>
      <input type="text" class="form-control" formControlName="uname" name="uname">
    </div>

    <div class="form-group">
      <label>Telepon</label>
      <input type="text" class="form-control" formControlName="telepon" name="telepon">
    </div>

    <div class="form-group">
      <label>Email</label>
      <input type="text" class="form-control" formControlName="email" name="email">
    </div>

    <div class="form-group">
      <label>Nama Lengkap</label>
      <input type="text" class="form-control" formControlName="nama_lengkap" name="nama_lengkap">
    </div>

    <div class="form-group">
      <label>Alamat</label>
      <input type="text" class="form-control" formControlName="alamat" name="alamat">
    </div>

    <div class="form-group">
      <label>Tanggal Lahir</label>
      <input type="text" class="form-control" formControlName="tanggal_lahir" name="tanggal_lahir">
    </div>

    <div class="form-group">
      <label>Foto</label>
      <input type="text" class="form-control" formControlName="foto" name="foto">
    </div>
  
    <div class="form-group">
      <label>Password</label>
      <input type="text" class="form-control" formControlName="password" name="password">
    </div>

    <button id="buttonReg" (click)="newUserRegis()">Submit</button>

  </form>
</div>
-->

<!-- <div class="container">
    <form [formGroup]="dataForm" (ngSubmit)="onSubmit()">

        <div class="forms-group">
            <label>Username</label>
            <input type="text" formControlName="uname" class="form-control" 
            [ngClass]="{ 'is-invalid': submitted && f.uname.errors }" />
    
            <div *ngIf="submitted && f.uname.errors" class="invalid-feedback">
              <div *ngIf="f.uname.errors.required">
                Username cannot be empty!
              </div>
            </div>
    
          </div>

      <div class="forms-group">
        <label>First Name</label>
        <input type="text" formControlName="fname" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.fname.errors }" />

        <div *ngIf="submitted && f.fname.errors" class="invalid-feedback">
          <div *ngIf="f.fname.errors.required">
            First name cannot be empty!
          </div>
        </div>

      </div>

      <div class="forms-group">
        <label>Last Name</label>
        <input type="text" formControlName="lname" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.lname.errors }" />

        <div *ngIf="submitted && f.lname.errors" class="invalid-feedback">
            <div *ngIf="f.lname.errors.required">
              Last name cannot be empty!
            </div>
        </div>

      </div>

      <div class="forms-group">
        <label>Nomor Telepon</label>
        <input type="text" formControlName="telepon" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.telepon.errors }" />

        <div *ngIf="submitted && f.telepon.errors" class="invalid-feedback">
            <div *ngIf="f.telepon.errors.required">
              Telepon cannot be empty!
            </div>
        </div>

      </div>

      <div class="forms-group">
        <label>Email: </label>
        <input type="text" formControlName="email" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">
            Email cannot be empty!
          </div>
          <div *ngIf="f.email.errors.email">
            Must enter valid email!
          </div>
        </div>
      </div>

      <div class="forms-group">
        <label>Password:</label>
        <input type="password" formControlName="password" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />

        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">
            Password field cannot be empty!
          </div>
          <div *ngIf="f.password.errors.minlength">
            The minimum password length is 8!
          </div>
        </div>
      </div>

      <div class="forms-group">
        <label>Confirm Password</label>
        <input type="password" formControlName="cpassword" class="form-control" 
        [ngClass]="{ 'is-invalid': submitted && f.cpassword.errors }" />

        <div *ngIf="submitted && f.cpassword.errors" class="invalid-feedback">
          <div *ngIf="f.cpassword.errors.required">
            Confirm password field cannot be empty!
          </div>
          <div *ngIf="f.cpassword.errors.mustMatch">
            Confirm password must match password!
          </div>
        </div>
      </div>

      <div class="forms-group">
        <button (click)="registerUser()" class="btn btn-dark form-control">Registrasi User</button>
      </div>
    </form>

    <p>
      Halo nama saya {{ f.fname.value }} {{ f.lname.value }}. NIM saya {{ f.nim.value }}.<br>
      Anda bisa contact saya dengan email berikut: {{ f.email.value }}
    </p>

</div> 
-->