<div class="root">
  <div class="separator">
    <a href="#">
      <figure class="nicho">
          <div class="date"><span class="card-date-day">07</span><span class="card-date-month">APR</span></div>
          <figcaption>
            <div class="spacer">
              <h4><span>Nicholas Dwiarto Wirasbawa</span></h4>
              <h5><span>32827</span></h5>
              <p>"No one can touch me."</p>
            </div>
              
            <div class="spacer">
              <h5><span>Asal:</span></h5>
              <div class="img-container text-center">
                <img src="../../assets/img/pangudiluhur.jpg" />
              </div>
            </div>

            <div class="spacer">
              <h5><span>Roles:</span></h5>
              <div class="icons">
                <img src="https://img.icons8.com/color/30/000000/angularjs.png">
                <img src="https://img.icons8.com/color/30/000000/javascript.png">
                <img src="https://img.icons8.com/color/30/000000/bootstrap.png">
                <img src="https://img.icons8.com/color/30/000000/css3.png">
                <img src="https://img.icons8.com/color/30/000000/html-5.png">
              </div>
            </div>

            <div class="spacer">
              <h5><span>Components</span></h5>
              <p>Everything. All Service. All Components. UI Home, Registration, Extra Features.</p>
            </div>

          </figcaption>
      </figure>
    </a>
  </div>

  <div class="separator">
    <a href="#">
      <figure class="gery">
          <div class="date"><span class="card-date-day">03</span><span class="card-date-month">SEP</span></div>
          <figcaption>

            <div class="spacer">
              <h4><span>Bernardus Gery Santoso</span></h4>
              <h5><span>32805</span></h5>
              <p>0plettua</p>
            </div>
              
            <div class="spacer">
              <h5><span>Asal:</span></h5>
              <div class="img-container text-center">
                <img src="../../assets/img/pangudiluhur.jpg" />
              </div>
            </div>

            <div class="spacer">
              <h5><span>Roles:</span></h5>
              <div class="icons">
                <img src="https://img.icons8.com/color/30/000000/bootstrap.png">
                <img src="https://img.icons8.com/color/30/000000/css3.png">
                <img src="https://img.icons8.com/color/30/000000/html-5.png">
              </div>
            </div>

            <div class="spacer">
              <h5><span>Components</span></h5>
              <p>UI UKM List, UKM Detail, Login, Favorite List</p>
            </div>

          </figcaption>
      </figure>
    </a>
  </div>

  <div class="separator">
    <a href="#">
      <figure class="zaldi">
          <div class="date"><span class="card-date-day">09</span><span class="card-date-month">MAR</span></div>
          <figcaption>

            <div class="spacer">
              <h4><span>Mochamad Rizky Zaldi</span></h4>
              <h5><span>32082</span></h5>
              <p>Manusia Religius</p>
            </div>
              
            <div class="spacer">
              <h5><span>Asal:</span></h5>
              <div class="img-container text-center">
                <img src="../../assets/img/indo.png" />
              </div>
            </div>

            <div class="spacer">
              <h5><span>Roles:</span></h5>
              <div class="icons">
                <img src="https://img.icons8.com/color/30/000000/bootstrap.png">
                <img src="https://img.icons8.com/color/30/000000/css3.png">
                <img src="https://img.icons8.com/color/30/000000/html-5.png">
              </div>
            </div>

            <div class="spacer">
              <h5><span>Components</span></h5>
              <p>UI Login, Profile, Update Profile, Favorite List</p>
            </div>

          </figcaption>
      </figure>
    </a>
  </div>

  <div class="separator">
    <a href="#">
      <figure class="hans">
          <div class="date"><span class="card-date-day">20</span><span class="card-date-month">AUG</span></div>
          <figcaption>
            
            <div class="spacer">
              <h4><span>Hans Ohaus Adithio</span></h4>
              <h5><span>27973</span></h5>
              <p>Pencinta Jepang</p>
            </div>
              
            <div class="spacer">
              <h5><span>Asal:</span></h5>
              <div class="img-container text-center">
                <img src="../../assets/img/indo.png" />
              </div>
            </div>

            <div class="spacer">
              <h5><span>Roles:</span></h5>
              <div class="icons">
                <img src="https://img.icons8.com/color/30/000000/css3.png">
                <img src="https://img.icons8.com/color/30/000000/html-5.png">
              </div>
            </div>

            <div class="spacer">
              <h5><span>Components</span></h5>
              <p>Skeleton UI UKM Detail, Favorite List, Home</p>
            </div>

          </figcaption>
      </figure>
    </a>
  </div>
</div>