<div class="root">
    <div class="header">
        <h1 class="bg-txt">Wanderlust?</h1>
        <h2 class="bg-sub-txt">Street Activities - Communities - Organizations</h2>

        <div class="headerLeft">
            <h4>Codemasters™</h4>
        </div>

        <div class="headerRight">
            <button class="btn btnHeader" routerLink="/register">Register</button>
        </div>

        <div class="footerbar">
            <p>Instagram.</p>
            <p>Facebook.</p>
            <p>LinkedIn.</p>
            <p>Nicholas Dwiarto.</p>
        </div>

        <div class="footerLeft">
            <h1>01</h1>
            <h5> / ?</h5>
        </div>
    </div>

    <div class="sectionAwal section">
        <div class="container">
            <h2 class="text-center">Top Charts</h2>
            <h5 class="text-center">Tak kenal maka tak sayang.</h5>

            <div class="row bagianLive">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <h5 class="live">LIVE</h5>
                    <h3>Dream Theater</h3>
                    <p>UKM ini merupakan UKM yang spektakuler dalam Universitas Multimedia Nusantara.
                        Kebiasaan anak-anaknya adalah bermain lagu-lagu Hard Rock, Heavy Metal, Death Metal,
                        serta lagu lagu keras lainnya. Siapkah kamu untuk bergabung dengan kami?
                    </p>
                </div>

                <div class="col-md-6 col-sm-4 col-xs-4">
                    <video width="320" height="240" autoplay loop>
                        <source src="../../assets/vid/guitar.mp4" type="video/mp4">
                        Browser does not support videos!
                    </video>
                </div>
            </div>

        </div>
    </div>

    <!--<div class="sectionDua">
        <div class="frame">
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41114/plan1.png" alt="sky" class="pic1"/>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41114/2.png" alt="sky" class="pic2"/>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41114/3.png" alt="sky" class="pic3"/>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41114/mist.png" alt="sky" class="mist2"/>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41114/4.png" alt="sky" class="pic4"/>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41114/mist.png" alt="sky" class="mist"/>
            <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/41114/5.png" alt="sky" class="pic5"/>
       </div>   
    </div>-->

    <div class="sectionTiga section">
        <h2 class="text-center">About Us</h2>
        <h5 class="text-center">Codemasters™ Community</h5>
        <br>
        <button class="btn btnHeader btnAbout" routerLink="/about">Look at me!</button>
    </div>

    <div class="sectionEmpat section">
        <h2 class="text-center">Admin Section</h2>
        <h5 class="text-center">Silakan masuk!</h5>
        <br>
        <button class="btn btnHeader btnAbout" routerLink="/admin">Administrator</button>
    </div>

</div>